@{
    ViewBag.Title = "Contact";
}

<address>
    Julii Vedkal<br />
    Kharkiv, ukraine <br />
    <abbr title="Phone">P: +38-050-860-8796</abbr>
</address>

<address>
    <strong>My mail:</strong>   <a href="mailto:yulii.vedkal@nure.ua">yulii.vedkal@nure.ua</a><br />
</address>